<launch>
	<node name="laser_simulation" pkg="stage_ros" type="stageros" args="/home/artem/git/scan_simulation/simple.world"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d /home/artem/git/scan_simulation/simulation.rviz" />
	<node name="controller" pkg="controller" type="controller_node" output="screen" required="true"/>
</launch>
